.App {
  text-align: center;
  border: #282c34 solid 3px;
  margin: 5px;
  background-image: linear-gradient(to right, #a6d9ed, #bcdff4, #d1e5f8, #e3ebfa, #f1f3fc, #f1f3fc, #f1f3fc, #f1f3fc, #e3ebfa, #d1e5f8, #bcdff4, #a6d9ed);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
