@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

.input {
    background-color: #9fb7c3;
    border-bottom: ridge #b0b9bd 10px;

}
input {
    background-color: rgb(243, 249, 168);
    border: 5px rgb(21, 21, 135) ridge;
    font-family: 'Righteous', cursive;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    padding-left: 5px;
}