.list {
    display: flex;
    background-color: #05054F;
    justify-content: space-around;
    flex-direction: column;
    margin: 30px 100px;
    border-radius: 75px;
    box-shadow: 10px 10px 20px rgb(21, 13, 67);
}

@media only screen and (max-width: 600px) {
    .list {
        margin: 20px;
    }
  }