@import url('https://fonts.googleapis.com/css?family=Bungee+Shade&display=swap');

.header {
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(to bottom, #274264, #4a6883, #728fa3, #9fb7c3);
    font-family: 'Bungee Shade', cursive;
    color: #12054d;
    font-size: 25px;
    text-shadow: 0 0 3px rgb(255, 255, 255);
}